<nav class="navbar navbar-default navbar-fixed">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <a routerLinkActive="router-link-active" class="navbar-brand hidden-lg hidden-md"><i (click)="onOpenMenu()"
          class="fa fa-bars"></i></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="dropdown-toggle">
            <i class="fa fa-dashboard"></i>
            <span> Dashboard</span>
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a [routerLink]="['/home']" routerLinkActive="router-link-active">
            <p>Account</p>
          </a>
        </li>

        <li>
          <a (click)="onLogout()">
            <p>Logout</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<ngx-smart-modal #showMenu identifier="showMenu">
  <div class="menuModal">
    <ul class="nav">
      <li routerLinkActive="active">
        <a [routerLink]="['/dashboard']" routerLinkActive="active">
          <i class="pe-7s-graph"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/employee']" routerLinkActive="active">
          <i class="pe-7s-users"></i>
          <p>Employees</p>
        </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/expense']">
          <i class="pe-7s-note2"></i>
          <p>Expenses</p>
        </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/item']">
          <i class="pe-7s-albums"></i>
          <p>Items</p>
        </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/overtime']">
          <i class="pe-7s-clock"></i>
          <p>Overtimes</p>
        </a>
      </li>
    </ul>
  </div>
</ngx-smart-modal>